<% include partials/header %>

<main>
  <form action="/users/login" method="post">
    <input type="text" name="email" placeholder="Enter your email" />
    <input type="text" name="password" placeholder="Enter password" />
    <button type="submit">Log In</button>
  </form>
</main>
