<% include partials/header %>

<main>
  <form action="/users/registration" method="post">
    <input type="text" name="name" placeholder="Enter your name" />
    <input type="text" name="email" placeholder="Enter your email" />
    <% if (error) { %>
    <p class="error"><%= error %></p>
    <% } %>
    <input type="text" name="password" placeholder="Enter password" />
    <input type="number" name="age" placeholder="Enter your age" />
    <input type="number" name="phone" placeholder="Enter your number" />
    <button type="submit">Registration</button>
  </form>
</main>
