<% include partials/header %>
<main>
  <h1>Add Product</h1>
  <form action="/produts" method="post">
    <input type="text" name="name" placeholder="Product Name" />
    <input type="number" name="quantity" placeholder="Number of products" />
    <input type="number" name="price" placeholder="Enter Price" />

    <button type="submit">Add Product</button>
  </form>
</main>
