<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <button><a href="/article">Home</a></button>
      <h1>Article Fill From to add Article</h1>
    </header>
    <form action="/article" method="post">
      <input type="text" name="title" placeholder="Enter Title" />
      <textarea
        name="description"
        rows="5"
        placeholder="Description...."
      ></textarea>
      <input type="text" name="tags" placeholder="tags" />
      <input type="text" name="author" placeholder="Author name" />
      <button type="submit">Add Article</button>
    </form>
  </body>
</html>
